*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar-dark .container-fluid img{
    width: 150px;
    padding: 10px;
}

.navbar-brand img{
    width: 80px;
}

.fa-search{
    color: black;
}

.dropdown-menu li{
    font-size: 20px;
}
/* navbar */
/* banner returnal */
.my_container_30{
    width: 30%;
}

.my_color_white{
    color: white;
}

.buy_now{
    color: white;
    background-color: orangered;
}

.col-12 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.my_border_radius{
    border-radius: 30px;
}
/* banner returnal */
/* playstation 5 */
.color_light_blue{
    color: rgb(0,112,209);
}

.color_grey{
    color: grey;
}

.my_container_60{
    width: 60%;
    margin-left: 25%;
}

.col-10 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.my_opacity{
    opacity: 70%;
}

.img_ps5:hover{
    opacity: 100%;
    border-bottom: 1px solid rgb(0,112,209);
}

.new_exit{
    color: white;
    background-color: rgb(31, 31, 31);
}

.max_height{
    max-height: 365px;
}
/* playstation 5 */
.my_margin_bot{
    margin-bottom: 180px;
}
/* playstation plus */
.playstation-plus{
    background-color: rgb(190,188,187);
}

#plus_logo{
    width: 1000px;
    height: 200px;
}

.column{
    display: flex;
    flex-direction: column;
}