*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-dark .container-fluid img{
    width: 150px;
    padding: 10px;
}

.navbar-brand img{
    width: 80px;
}

.fa-search{
    color: black;
}

.dropdown-menu li{
    font-size: 20px;
}